# created by virtualenv automatically
# 환경 및 패키지 관련 파일
venv/
*.pyc
__pycache__/
*.pyo
*.pyd

# 로그 파일
*.log

# 사용자 환경 설정 파일
.idea/
.vscode/

# 환경 설정 파일
*.env

# 로컬 디버그 서버 파일
.debug

# 데이터베이스 파일
*.db
*.sqlite3

# 캡쳐한 이미지 또는 스크린샷
*.png
*.jpg
*.jpeg
*.gif

# 환경 설정 파일
.env

# Django 관련 파일
__pycache__/
*.py[cod]
*.db.sqlite3
*.settings.py
__init__.py
media/