{% extends 'base.html' %}

{% block content %}

<h2>Admin Mode</h2>
<div style="display: flex;">
  <div style="flex: 1;">
    <h3>User List</h3>
    <ul>
      {% for user in users %}
        <li>{{ user.username }}</li>
      {% endfor %}
    </ul>
  </div>
  <div style="flex: 1;">
    <h3>Post List</h3>
    <ul>
      {% for post in posts %}
        <li>{{ post.title }}</li>
      {% endfor %}
    </ul>
  </div>
  <div style="flex: 1;">
    <h3>Comment List</h3>
    <ul>
      {% for comment in comments %}
        <li>{{ comment.content }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}

