{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
    function filterItems(category) {
        var items = document.querySelectorAll('.item');
        items.forEach(function(item) {
            if (category === 'all' || item.dataset.category === category) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    }

    var filters = document.querySelectorAll('.filter');
    filters.forEach(function(filter) {
        filter.addEventListener('click', function() {
            var category = this.dataset.filter;
            filterItems(category);
        });
    });
</script>

    <!-- ======= Works Section ======= -->
<section class="section site-portfolio">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
                <h2>Hello! {{ request.user.username }}</h2>
            </div>
            <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
                <div id="filters" class="filters">
                    <!--  카테고리  -->
                    <a href="#" data-filter="*">All</a>
                    {% for item in cat_menu %}
                    <a href="{% url 'get_filtered_posts' item %}" data-filter="{{item}}">{{item}}</a>
                    {%endfor%}

                </div>
            </div>
        </div>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-6 mb-4">
                        <div class="card box-shadow">
                            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">{{post.title}} by {{ post.author}} </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'post-detail' post.id %}" class="btn btn-sm btn-outline-secondary">View</a>
                                        <a href="{% url 'post-edit' post.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    </div>
                                    <small class="text-muted"> {{post.category}} <br> {{post.published_at}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                        </div>
                        <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Works Section -->


<!-- ======= Testimonials Section = 맞팔 친구 ======= -->
    <section class="section pt-0">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src="{% static 'assets/img/person_1.jpg' %}" alt="Image" class="img-fluid">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiis
                      explicabo inventore.</p>
                  </blockquote>
                  <p>&mdash; Jean Hicks</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src="{% static 'assets/img/person_2.jpg' %}" alt="Image" class="img-fluid">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiis
                      explicabo inventore.</p>
                  </blockquote>
                  <p>&mdash; Chris Stanworth</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

{% endblock content%}